*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.modal-backdrop {
    z-index: 0 !important;
    background-color: rgba(0, 0, 0, 0.225) !important;
    backdrop-filter:blur(2px) !important;
}

.dropdown-item:focus {
    background-color: #1a8654 !important;
}

.link-ease-in-out::after {
    background-color: green;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.link-ease-in-out:hover:after,
.link-ease-in-out:focus:after {
    width: 100%;
}

.form-check-input:checked {
    background-color: #198754 !important;
    border-color: #198754 !important;
}
.form-check-input:focus {
    border-color: #198754 !important;
}

.tab-btn {
    color: #1a8654 !important;
}

.tab-btn.active {
    color: #858585 !important;
}

.form-control:focus {
    border-color: #198754 !important;
}